@media (max-width: 768px) {
/*    
    main{
        margin: auto;
        width: 700px;
        border: 2px solid;
        box-sizing: border-box;
        position: relative;
    }

    .red-dice{
        width: 190px;
        height: 190px;
        position: absolute;
        left: 0;
        border: 25px solid red;
        top: 0;
    } */
}